#indexContainer {
  display: flex;
  font-family: "Inter", sans-serif;
  flex-direction: column;
}

#indexHeading {
  font-size: xx-large;
  font-weight: 700;
}

#indexSubHeading {
  font-size: x-large;
  font-weight: 600;
}

#indexText {
  font-size: medium;
  font-weight: 400;
}
#indexButton {
  font-size: medium;
  font-weight: 600;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: progress;
}

/* React component styling */
#app-container {
  position: relative;
  background: white;
  border: 1px solid black;
  padding: 2rem;
  margin: 1rem;
  border-radius: 0.5rem;
  font-family: "Arial, Helvetica", sans-serif;
}

#title-form-wrapper-styling {
  text-align: center;
  margin: 0;
  margin-bottom: 2rem;
}

#children-form-wrapper-styling {
  display: grid;
  grid-template-columns: auto minmax(auto, 400px);
  gap: 1rem 0.5rem;
  justify-content: flex-start;
}

#mainButtons {
  display: block;
  margin-left: auto;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

#form-wrapper {
  padding: 2rem;
}

#form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

#form-title {
  font-size: 2rem;
  font-weight: 600;
}

#form-progress {
  font-size: 0.9rem;
  color: #555;
}
